.App {
  text-align: center;
}

.section-header {
	color: #D63B68;
	font-size: 1.5em;
	font-weight: 500;
   	margin-bottom: 2em;
}

.sub-section-header {
	color: #D63B68;
	font-size: 1.4em;
	font-weight: 200;
	margin-bottom: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 575px) {
	.sub-section-header {
		margin: 2em;
	}
}
